<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-collapse-nav
        data-slim-scroll
        data-highlight-active>
        <li><a href="../../Events.aspx"><i class="glyphicon glyphicon-stats"><span class="icon-bg bg-info"></span></i><span data-translate="Event"></span></a></li>
        <li><a href="../../Attendee.aspx"><i class="glyphicon glyphicon-hand-up"><span class="icon-bg bg-warning"></span></i><span data-translate="Attendee"></span></a></li>
        <li><a href="../../ContentPage.aspx"><i class="glyphicon glyphicon-list-alt"><span class="icon-bg bg-violet"></span></i><span data-translate="Content"></span></a></li>
        <li><a href="../../Logistics.aspx"><i class="glyphicon glyphicon-plane"><span class="icon-bg bg-danger"></span></i><span data-translate="Logistics"></span></a></li>
        <li><a href="../../Session.aspx"><i class="glyphicon glyphicon-time"><span class="icon-bg bg-primary-light"></span></i><span data-translate="Session"></span></a></li>
        <li><a href="../../Speaker.aspx"><i class="glyphicon glyphicon-user"><span class="icon-bg bg-orange"></span></i><span data-translate="Speaker"></span></a></li>
        <li><a href="../../Sponsor.aspx"><i class="glyphicon glyphicon-tags"><span class="icon-bg bg-facebook"></span></i><span data-translate="Sponsor"></span></a></li>
        <li><a href="../../Question.aspx"><i class="glyphicon glyphicon-question-sign"><span class="icon-bg bg-success"></span></i><span data-translate="Question"></span></a></li>
        <li><a href="../../Announcement.aspx"><i class="glyphicon glyphicon-volume-up"><span class="icon-bg bg-twitter"></span></i><span data-translate="Announcement"></span></a></li>
        <li><a href="../../QuizAnswer.aspx"><i class="glyphicon glyphicon-ok"><span class="icon-bg" style="background-color: #008000"></span></i><span data-translate="Answers"></span></a></li>
    </ul>
</div>
